extends /layout

block everything
  .registerOfMembers
    .letterhead
      img.logo(src="/img/logo.png")
      .details
        != detailsHtml
    .main
      table.table
        thead
          tr
            td(colspan=4)
              h3 Register of Members
              -var now = new Date()
              p #{roleUsers.length} members total (#{formatDate(now)} #{pad(now.getHours())}:#{pad(now.getMinutes())})
        tr
          th.number #
          th.name Name
          th.approved Approved
          th.address Address
        each roleUser, i in roleUsers
          tr
            td= i+1
            td= roleUser.user.fullname
            td= formatDate(roleUser.approved)
            td= roleUser.user.address
      .summary Total: #{roleUsers.length} members
  script window.print()
